
/* Shrinking the LoL Icon at the top of the Game Display */
#lolIconImage {
    width: 150px;
    height: 150px;
}

/* Shrinking our placeholder image */
.championImageClass {
    width: 10%;
}

/* lime for testing custom button class */
.answerButtonClass {
    background-color: lime; 
}